In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/home/jon/Documentos/tutorial/dataset/Book.csv')
df.head()

,Identificador,InfoEd,localidade,lancamento,editora,Title,autor,membros,corpAuthor,corpContr,proprietario,gravadora,tipo,Flickr URL,marca,adicional,Unnamed: 16,Unnamed: 17
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.,NaN,NaN,NaN
1,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.,NaN,NaN,NaN
2,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.,NaN,NaN,NaN
3,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.,NaN,NaN,NaN
4,481,"Fourth edition, revised, etc.",London,1875,William Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9006.ee.10.,NaN,NaN,NaN

In [8]:
df.set_index('Identificador', inplace=True)

In [9]:
to_drop = ['InfoEd',
           'editora',
           'membros',
           'corpAuthor',
           'corpContr',
           'proprietario',
           'gravadora',
           'tipo',
           'marca',
           'adicional',
           'Unnamed: 16',
           'Unnamed: 17']

In [10]:
df.drop(to_drop, inplace=True, axis=1)

In [11]:
df.head()

,localidade,lancamento,Title,autor,Flickr URL
Identificador,,,,,
206,London,1879 [1878],Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
481,London,1875,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [12]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.head()

,localidade,lancamento,title,autor,flickr_url
Identificador,,,,,
206,London,1879 [1878],Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
481,London,1875,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [16]:
df.loc[206]

localidade                                               London
lancamento                                          1879 [1878]
title                         Walter Forbes. [A novel.] By A. A
autor                                                     A. A.
flickr_url    http://www.flickr.com/photos/britishlibrary/ta...
Name: 206, dtype: object

In [17]:
df.iloc[0]

localidade                                               London
lancamento                                          1879 [1878]
title                         Walter Forbes. [A novel.] By A. A
autor                                                     A. A.
flickr_url    http://www.flickr.com/photos/britishlibrary/ta...
Name: 206, dtype: object

In [18]:
df.loc[1905:, 'lancamento'].head(10)

Identificador
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
2957           1873
3017           1866
3131           1899
4598           1814
4884           1820
Name: lancamento, dtype: object

In [19]:
extr = df['lancamento'].str.extract(r'^(\d{4})', expand=False)
extr.head()

Identificador
206    1879
218    1869
472    1851
480    1857
481    1875
Name: lancamento, dtype: object

In [20]:
df['lancamento'] = pd.to_numeric(extr)

df['lancamento'].dtype

dtype('float64')

In [21]:
df['lancamento'].isnull().sum() /len(df)

0.12466811489258992

In [22]:
df['localidade'].head(10)

Identificador
206                                  London
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667     pp. 40. G. Bryan & Co: Oxford, 1898
874                                 London]
1143                                 London
1280                               Coventry
Name: localidade, dtype: object

In [23]:
df.loc[4157862]

localidade                                  Newcastle-upon-Tyne
lancamento                                                 1867
title         Local Records; or, Historical Register of rema...
autor             FORDYCE, T. - Printer, of Newcastle-upon-Tyne
flickr_url    http://www.flickr.com/photos/britishlibrary/ta...
Name: 4157862, dtype: object

In [24]:
df.loc[4159587]

localidade                                  Newcastle upon Tyne
lancamento                                                 1834
title         An historical, topographical and descriptive v...
autor                                     Mackenzie, E. (Eneas)
flickr_url    http://www.flickr.com/photos/britishlibrary/ta...
Name: 4159587, dtype: object

In [25]:
pub = df['localidade']
london = pub.str.contains('London')
london[:5]

Identificador
206    True
218    True
472    True
480    True
481    True
Name: localidade, dtype: bool

In [26]:
oxford = pub.str.contains('Oxford')
df['localidade'].head()

Identificador
206    London
218    London
472    London
480    London
481    London
Name: localidade, dtype: object

In [27]:
df['localidade'] = np.where(london, 'London',
                                      np.where(oxford, 'Oxford',
                                               pub.str.replace('-', ' ')))

In [28]:
df.loc[4157862]

localidade                                  Newcastle upon Tyne
lancamento                                                 1867
title         Local Records; or, Historical Register of rema...
autor             FORDYCE, T. - Printer, of Newcastle-upon-Tyne
flickr_url    http://www.flickr.com/photos/britishlibrary/ta...
Name: 4157862, dtype: object

In [29]:
df.loc[4159587]

localidade                                  Newcastle upon Tyne
lancamento                                                 1834
title         An historical, topographical and descriptive v...
autor                                     Mackenzie, E. (Eneas)
flickr_url    http://www.flickr.com/photos/britishlibrary/ta...
Name: 4159587, dtype: object

In [30]:
df.to_csv('/home/jon/Documentos/tutorial/clean/etlBook.csv')